.slick-list {
  overflow: visible !important;
}

.choose-tabs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choose-btn {
  position: relative;
  right: -4px;
  width: 12px;
  margin: 8px 22px 0;
  border: 0;
  background: none;
}


.choose-tablist {
  display: flex;
  height: 34px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border-bottom: 1px solid rgba(61, 60, 60, 0.08) !important;
}

.choose-tab_tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  left: -24px;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding-bottom: 7px;
  margin: 0 23px;
}

.choose-tab {

  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  
  letter-spacing: 0.08em;
  text-transform: uppercase;
  
  /* Dark */
  
  color: #3D3C3C;
  
  
}

.choose-tab-selected {
  color: #BCA56A;
  border-bottom: 2px solid #BCA56A !important;
}

.cs-wrapper {
  position: relative;
  top: 32px;
}

.cs-block-tab1, .cs-block-tab3 {
  position: relative;
  width: 360px;
  height: 232px;
  margin: 0 20px;
  left: -20px;
}

.cs-tab-pad {
  position: absolute;
  bottom: 0px;
}

.cs-tab1-discount {
  position: absolute;
  left: 24px;
  bottom: 89px;
  
  letter-spacing: normal;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  color: #FFFFFF;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.cs-tab-text {
  position: absolute;
  left: 24px;
  bottom: 17px;

  letter-spacing: normal;
  text-transform: none;
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */


  color: #FFFFFF;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

@media screen and (max-width:360px) {
  .cs-block-tab1, .cs-block-tab3 {
    width: 328px;
    height: 232px;
    margin-bottom: 25px;
  }

 .cs-img {
  width: 328px;
  height: 232px;
 }

  .choose-buttons{
    display: none;
  }
}