.info-block {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 616px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
}

.waves {
    width: 146px;
    height: 8px;
}

h1 {
    font-family: 'SangBleu Kingdom';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
}

.vector {
    width: 62px;
    height: 40px;
}

.info-text {
    font-family: 'SangBleu Kingdom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.explore-btn {
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #3D3C3C;
    
    border-radius: 5px;
}