.info-block {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 642px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.info-bg-left {
    position: absolute;
    top: -214px;
    left: -140px;
    z-index: -100;
}

.info-bg-right {
    position: absolute;
    top: 146px;
    right: -140px;
    z-index: -100;
}

.waves {
    position: relative;
    top: 25px;
    width: 146px;
    height: 8px;
}

h1 {
    font-family: 'SangBleu Kingdom';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    margin: 103px 0 0;
}

.vector {
    position: relative;
    width: 62px;
    height: 40px;
    margin: 42px;
}

.info-text {
    font-family: 'SangBleu Kingdom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.explore-btn {
    margin-top: 38px;
    width: 200px;
    height: 64px;

    border: 1px solid #D9C287;
    border-radius: 8px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #3D3C3C;
}