.side-menu {
    position: absolute;
    top: 0;
    left: -1360px;
    width: 1360px;
    height: 768px;

    transition: left 1s;
    
    background: rgba(36, 36, 36, 0.98);
    z-index: 1000;
}

.side-header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background: rgba(36, 36, 36, 1);
    border-bottom: 1px solid rgba(196, 196, 196, 0.08);
}

.side-header-menu {
    margin-top: 32px;
}

.side-lang {
    display: none;
}

.side-logo {
    width: 66px;
    height: 56px;
    margin: 8px 16px 0 50px;
}

.side-header a{
    margin: 0 32px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.side-login {
    margin: 31px 0 0 412px;
}

.side-login a {
    margin: 0 8px;
    border-bottom: dashed 1px;
}

.side-menu-box {
    display: flex;
    flex-direction: row;
}

.side-social {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    left: 44px;
}

.side-line {
    border-left: 1px solid #D9C287;
    height: 368px;
    position: relative;
    margin: 32px 0 16px;
}

.side-social-buttons {
    display: flex;
    flex-direction: column;
}

.side-social-btn {
    width: 48px;
    height: 48px;
    background: none;
    border: 1px solid #D9C287;
    border-radius: 50%;

    margin: 16px 0;
}

.side-social-logo {
    max-width: 18px;
    max-height: 18px;
}
.side-menu-main {
    position: relative;
    left: 60px;
    display: flex;
    flex-direction: column;
}

.side-menu-body {
    display: flex;
    flex-direction: row;
}

.side-category {
    display: flex;
    flex-direction: row;
    width: 799px;
    height: 583px;
    margin-top: 32px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.08);
}

.side-category-ul {
    margin: 0;
    padding: 0;
}

.side-category-left {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    width: 404px;
}

.side-category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style-type: none;

    width: 335px;
    height: 64px;

    padding-left: 24px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;

    color: #FFFFFF;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.side-category-ul:hover {
    opacity: 1;
}

.side-category-item:hover {
    background: rgba(217, 194, 135, 0.16);
    border-radius: 8px;
    cursor: pointer;  
}

.side-category-subul {
    display: none;
    position: absolute;
    top: 15px;
    transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
    transition: 0s 3s;
}

.side-category-subul:hover{
    cursor: pointer;
}

.side-category-item:hover .side-category-subul {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    display: block;
}
/*
.side-menu-main:hover .side-category-subul {
    display: block;
}
*/
.side-category-subitem{

    margin-bottom: 32px;

    list-style-type: none;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.side-category-subitem:hover {
    color:#D9C287;
    cursor: pointer;
    display: block;
}

.side-category-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    border-left: 1px solid rgba(217, 194, 135, 0.24);
}

.side-category-right-text {
    position: relative;
    bottom: 34px;
    padding: 0 40px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;


    color: rgba(255, 255, 255, 0.48);
}

.side-banner {
    width: 420px;
    height: 616px;
}

.side-footer {
    height: 70px;
    margin-left: 24px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #FFFFFF;

    opacity: 0.64;
}

.side-footer-mobile {
    display: none;
}

.side-mail {
    position: relative;
    top: 22px;
    margin-right: 60px;
    color:rgba(255, 255, 255, 1)
}

.menu-toggle {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1360px;
    text-align: center;

    background: #3D3C3C;
    color: #FFFFFF;

    cursor: pointer;
    z-index: 1001;
}

.menu-toggle::after {
    content: url('../../public/images/Side/Btn/open.png');
    position:relative;
    width: 32px;
    height: 26px;
    top: 28px;
    color: #FFFFFF;
}

[id='menu-toggle'] {
    position: absolute;
    display: none;
}

[id='menu-toggle']:checked ~ .side-menu > .menu-toggle {
    left: auto;
    right: 0;
}

[id='menu-toggle']:checked ~ .side-menu {
    left: 0;
}

[id='menu-toggle']:checked ~ .side-menu > .menu-toggle:after{
    content: url('../../public/images/Side/Btn/close.png');
    position:relative;
    width: 32px;
    height: 26px;
    top: 28px;
    color: #FFFFFF;
}

@media screen and (max-width:360px) {
    .side-menu {
        left: -360px;
        width: 360px;
        height: auto;
    }

    .menu-toggle {
        left: 360px;
    }

    .side-header-menu, .side-login, .side-category-right, .side-banner, .side-social {
        display: none;
    }

    .side-lang {
        width: 80px;
        height: 80px;

        font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */

        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .side-logo {
        margin: 8px 67px;
    }

    .side-category {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .side-menu-main {
        width: 100%;
        left: 0px;
    }
    
    .side-category-left {
        top:0;
        width: 100%;
    }

    .side-category-item {
        position: relative;
        padding-left: 16px;
        justify-content: center;

        width: 100%;
        height: 56px;

        font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
    }

    .side-category-subul {
        position: relative;
        display: none;
            top: 0;
            transform:none;
            pointer-events: none;
            opacity: 0;
            transition: 0s 3s;
    }

    .side-category-item:hover .side-category-subul{
        display: none;
    }

    .side-footer {
        width: 100%;
        height: auto;
        margin: 40px 0 60px;
        text-align: center;
        align-items: center;
    }

    .side-footer-mobile {
        display: block;
    }

    .side-find {
        width: 328px;
        height: 64px;
        background: #BCA56A;
        border-radius: 8px;

        font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .side-links {
        margin-top: 37px;
        display: inline-block;
        width: 100%;
    }

    .side-links a{
        margin: 7px 16px;

        font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 38px;
        /* identical to box height, or 171% */

        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .side-social-btn {
        margin: 22px 12px;
    }
    
    .side-footer-tel {
        margin-top: 12px;


    }

    .tel {
                font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */

        text-align: right;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .side-mail {
        margin: 0;
    }
}