.promo-block {
    display: flex;
    flex-direction: row;
    height: 808px;
}

/* Background */

.promo-flower-stroke {
    position: absolute;
    left: 345px;
    top: -80px;
    z-index: -102;
}

.promo-flower {
    position: absolute;
    left: 390px;
    top: -80px;
    z-index: -101;
}

/* Left block */

.promo-left {
    position: relative;
    align-items:start;
}

.promo-waves {
    width: 182px;
    height: 32px;
    margin: 24px -90px 0;
}

.fhclub {
    margin-top: 20px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.08em;
    text-transform: uppercase;

    /* Dark */

    color: #3D3C3C;
}

.promo-block h1 {
    margin: 46px 0 40px -5px;

    font-family: 'SangBleu Kingdom';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;

    display: flex;
    align-items: center;
}

.promo-text {
    margin-bottom: 58px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */


    /* Dark */

    color: #3D3C3C;
}

button:hover {
    cursor: pointer;
}

.promo-btn-find {
    width: 200px;
    height: 64px;
    background: linear-gradient(0deg, #BCA56A, #BCA56A), #86C1DB;
    border-radius: 8px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo-btn-3d {
    width: 200px;
    height: 64px;
    border: 1px solid #D9C287;
    border-radius: 8px;
    margin-left: 40px;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #3D3C3C;
}

.promo-vector {
    height: 48px;
    margin: 23px 0 0 32px;

    border-left: 1px solid #D9C287;
}

.promo-btn-arrow {
  width: 64px;
  height: 64px;
  border: 1px solid #D9C287; 
  border-radius: 50%;
  margin-top: 2px;
}

.promo-arrow {
    width: 12px;
    height: 8px;
}

/* Right block */

.promo-right {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 60px;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.promo-social-buttons {
    position: absolute;
    top: 175px;
    right: -140px;
    display: flex;
    flex-direction: column;
}

.promo-social-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #D9C287;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    margin: 15px;
}

.promo-social-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.promo-social-logo {
    max-width: 18px;
    max-height: 18px;
}

/* Weather */

.promo-weather {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -42px;
    right: -200px;
    width: 633px;
    height: 326px;
}

.promo-intersect {
    position: absolute;
    width: 440px;
    height: 312px;
    left: -89px;
    z-index: -2;
}

.promo-intersect-dark {
    position: absolute;
    width: 633px;
    height: 312px;
    z-index: -1;
}

.promo-weather-text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    right: -12px;
    bottom: 5px;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;

    color: #FFFFFF;
}

.promo-weather-column-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin: 4px 24px;
    bottom: 2px;
}

.promo-cloudly {
    width: 60px;
    height: 40px;
    margin-top: 10px;
}

.promo-pin {
    width: 12px;
    height: 16px;
}

.promo-weather-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promo-weather-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 6px 0;
}

.promo-weather-degrees {
    margin: 0;

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;

    margin: 0;

    color: #FFFFFF;
}

.promo-weather-weather {
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
 
    margin: 0;

    color: #FFFFFF;
}

.promo-weather-geo {
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;    
    
    margin: 0;

    color: #FFFFFF;
}