.tablet-block {
    display:block;
    text-align: center;
    justify-content: center;
    height: 808px;
}

.tablet-mr {
    position: absolute;
    left: 0;
    margin-top: 150px;
    z-index: 9;
    height: 253px;
}

.tablet-tablet {
    position: relative;
    z-index: 10;
    top: -134px;
}

.tablet-logo {
    position: relative;
    top: -177px;
}