.tablet-block {
    position: relative;
    display:block;
    text-align: center;
    justify-content: center;
    height: 808px;
}

.tablet-mr {
    position: absolute;
    left: 0;
    margin-top: 150px;
    z-index: 9;
    height: 253px;
}

.tablet-tablet {
    position: relative;
    z-index: 10;
    top: -134px;
}

.tablet-logo {
    position: relative;
    top: -177px;
}

@media screen and (max-width:360px) {
    .tablet-block {
        height: 416px;
    }

    .tablet-mr, .tablet-tablet {
        display: none;
    }

    .tablet-logo {
        top: 124px;
    }
}