@import url('./fonts/font/stylesheet.css');
@import url('./fonts/euclidcircularb/stylesheet.css');
@import url('./fonts/SangBleu\ Kingdom/stylesheet.css');

@media screen and (min-width:100px) and (max-width:320px) {
  .App{
      width: 100%;
  }
}

.App {
  position: relative;
  width: 1440px;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

a{
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /*line-height: 24px;*/
  text-decoration: none;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Dark */

  color: #3D3C3C;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.text-bold {
  font-weight: bold;
}